<!--<% layout('layout') -%>-->
 <script type="text/javascript">
  $(document).ready(function(){
     $("td").on("click","a[alt=delete]",function(e){
           var aObj=$(this);
           e.preventDefault();
           var u=aObj.attr("href");
           $.ajax({
               url:u,
               type:"POST",
               dataType:"json",
               success:function(data,resText,jqXHR){
                    if(data.flag==true){
                        alert("删除成功");
                        //不知道为什么，$(this).parent("td"),一直获取不到,困了几个小时之后，终于知道为什么了，
                        //因为this到了回调函数里面已经变成window了，不再是当前被点击的a元素了
                        aObj.parent("td").parent("tr").remove();
                    }else{
                         alert("删除失败");
                    }
               }
           });
     });
  });
 </script>
<table border="1">
 <tr>
  <th>姓名</th>
  <th>年龄</th>
  <th>工种</th>
  <th>部门</th>
  <th>删除操作</th>
  <th>修改操作</th>
 </tr>
 <%if(docs.length){
   docs.forEach(function(doc){ %>
   <tr>
    <td><%= doc.name %></td>
    <td><%= doc.age %></td>
    <td><%= doc.basic_profession.basic_profession %></td>
    <td><%= doc.dept_name.dept_name %></td>
    <td><a href="/employeeDelete?name=<%= doc.name %>" alt="delete">删除</a></td>
    <td><a href="/employeeModify?name=<%= doc._id %>">修改</a></td>
   </tr>
 <%})}%>
</table>